name: Open-CE Environment Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: open-ce/open-ce
          path: ./open-ce
      - uses: conda-incubator/setup-miniconda@v2.0.0
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          conda install -y pylint=2.6.0 \
                           conda-build \
                           pytest=6.0.1 \
                           pytest-cov=2.10.1 \
                           pytest-mock=3.2.0
          pip install yamllint==1.24.2
      - name: Lint config files
        shell: bash -l {0}
        run: |
          # Use yamllint to check the actual yaml files.
          yamllint .github/workflows/*.yml
          yamllint ./conda_build_config.yaml
          # Use the conda_build api to lint the env files since they use jinja.
          ./open-ce/open-ce validate env envs/*.yaml
          # Validate conda_build_config for the main open-ce env file.
          ./open-ce/open-ce validate config --conda_build_config \
                                            ./conda_build_config.yaml \
                                            ./envs/*-env.yaml \
                                            --python_versions 3.6,3.7,3.8 \
                                            --build_types cuda,cpu \
                                            --mpi_types openmpi,system
